
.icon-user:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-phone-outline:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */