#JSProjektBody
{
	background-color: #222222;
	background-size: 100% 100%;
	margin: 0;
	-webkit-user-select: none;
	select: none;
	-khtml-user-select: none;
	height:900px;
}
#rokImiesiac
{
	padding-top: 50px;
	margin-left: 50px;
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: white;
	cursor: auto;
	display:block;
}
.kalendarz
{
	font-family: 'Montserrat', sans-serif;
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 6px solid #222222;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	color:white;
}
.kalendarz:hover
{
	border: 6px solid red;
	cursor: pointer;
}
#fotter
{
	margin-top: 40px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	background-color: black;
	color: white;
}
#border
{
	padding-top: 50px;
	width:1480px;
	margin: auto;
}
#calykalendarz
{
	width: 924px;
	margin: auto;
	float: left;
}

.next
{
	font-family: 'Montserrat', sans-serif;
	/*background-color: #333333;*/
	margin-top: 240px;
	font-weight: 700;
	text-align: center;	
	color: rgb(70, 67, 67);	
	width: 200px;
	height: 70px;
	padding-top: 30px;
	float:left;
	font-size: 150px;
	margin-right: 70px;
}
/*.next:hover
{
	-webkit-transition-duration: 0.5s;
	transistion-duration: 0.5s;
	background-color: #555555;
	cursor: pointer;

}
*/
.next:hover
{
	-webkit-transition-duration: 0.7s;
	transistion-duration: 0.7s;
	color: #aaaaaa;
	cursor: pointer;

}